
@{
    ViewData["Title"] = "Index";
}


<br />

<div class="row">
    <div class="col-9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">produit</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Prix Total</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Archi_Data.Vente v in ViewBag.ventes)
                {
                    <tr class="table-primary">
                        <th scope="row">@v.Date</th>
                        <td>@v.IdClient</td>
                        <td>@v.IdProduit</td>
                        <td>@v.Nbr</td>
                        <td>@v.PrixTotal Ar</td>
                        <td><button type="button" onclick="location.href = 'https://localhost:5001/Dg/accpt?id=@v.Id&x=@v.Nbr';" class="btn btn-success">Accepter</button></td>
                        <td><button type="button" onclick="location.href = 'https://localhost:5001/Dg/dcl?id=@v.Id';"  class="btn btn-outline-danger">Refuser</button></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <div class="col-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Finance Marchandise</div>
            <div class="card-body">
                <label><b>Montant Total:</b></label>
                <br />
                <label>@ViewBag.tot</label>
                <label><b>Montant Total Restant: <br />
                    <label>@ViewBag.mont Ar</label></b></label>
                <br />
                <label><b>Montant Vendu Total:<label>@ViewBag.montvend Ar</label></b></label>
            </div>
        </div>
    </div>
</div>
<br />
